<template name="spaceSidebar">
	<div class="bg-beekee pt-5 d-lg-none">
		<img style="height: 130px;" class="pl-3 pb-3" alt="logo" src="/img/logo-arbre.png">
	</div>
	<ul class="sidebar nav flex-column align-items-start justify-content-between">
		<li class="nav-item sidebar-item w-100 {{selectedMenuItemBg 1}}">
			<a class="nav-link pl-1 text-nowrap text-dark menu-item {{selectedMenuItemTxt 1}} pl-3 pl-lg-0 py-3 py-lg-2" data-id="1" href="#">
				<i class="fa fa-home fa-fw"></i> 
				<span class="pl-1">{{_ 'space-sidebar--home'}}</span>
				<span class="sidebar--badge ml-1">{{liveFeedCount}}</span>
			</a> 
		</li> 	
<!-- 		{{#if liveFeed}}						
			<li class="nav-item sidebar-item w-100 {{selectedMenuItemBg 2}}">
				<a class="nav-link pl-1 text-nowrap text-dark menu-item filter-live-feed-all {{selectedMenuItemTxt 2}} pl-3 pl-lg-0 py-3 py-lg-2" data-id="2" href="#">
					<i class="fa fa-bolt fa-fw"></i> 
					<span class="pl-1">{{_ 'space-sidebar-2-live-feed'}}</span>
					<span class="badge badge-secondary-2 ml-2">{{liveFeedCount}}</span>
				</a>
			</li>
		{{/if}} -->
		{{#if selectedMenuItem 2}}
			<a class="small pl-4 pt-3 text-secondary mb-1 space-sidebar--menu-collapse d-none" data-toggle="collapse" aria-expanded="true" href=".categories-list"><i class="fas fa-tags"></i> {{_ 'space-sidebar--categories'}} <i class="fa ml-1" aria-hidden="true"></i></a>
			<div class="collapse categories-list show w-100 d-none">
				{{#each liveFeedCategories}}
					<li class="align-middle nav-item sidebar-item w-100 small">
						<a class="align-bottom nav-link space-sidebar--filter-live-feed-category pl-1 py-1 text-nowrap text-dark filter-live-feed-category {{selectedLiveFeedCategory}}  pl-4 py-2 py-lg-2" data-category="{{name}}" href="#"><span class="align-bottom pl-1" data-category="{{name}}">{{name}}</span>
							<span class="align-baseline text-secondary small ml-1" data-category="{{name}}">{{nRefs}}</span>
							{{#if ownSpace}}
								<a class="align-middle space-sidebar--live-feed-category-edit small ml-2" data-category="{{name}}">
									<i class="align-middle fas fa-pencil-alt" data-category="{{name}}"></i>
								</a>
							{{/if}}
						</a>
					</li>
				{{/each}}
				<div class="pl-3 ml-2 mt-1">
					{{#if liveFeedAddCategory}}
						<a href="#" class="small pt-1 pl-1 font-weight-light" data-toggle="modal" data-target="#liveFeedCategorySubmit">
							<span class="pl-1"><i class="fas fa-plus"></i> {{_ 'space-sidebar--add-category'}}</span>
						</a>
					{{/if}}
				</div>
			</div>
			<a class="small pl-4 pt-1 text-secondary mb-1 space-sidebar--menu-collapse" data-toggle="collapse" aria-expanded="false" href=".authors-list"><i class="fas fa-users"></i><span class="ml-1"> {{_ 'space-sidebar--authors'}} </span><i class="fa ml-1" aria-hidden="true"></i></a>
			<div class="collapse authors-list w-100">
				{{#each authors}}
				<li class="align-middle nav-item sidebar-item w-100 small w-100">
					<a class="align-bottom nav-link text-nowrap text-dark filter-author {{selectedAuthor}} pl-4 py-1 py-lg-1" data-author="{{name}}" href="#">
						<span class="pl-1" data-author="{{name}}">{{name}}</span>
						<span class="align-baseline text-secondary small ml-1" data-author="{{name}}">{{nRefs}}</span>
					</a>
				</li>
				{{/each}}
			</div>
		{{/if}}
			<li class="nav-item sidebar-item w-100 {{selectedMenuItemBg 5}}">
				<a class="nav-link pl-1 text-nowrap text-dark menu-item {{selectedMenuItemTxt 5}} pl-3 pl-lg-0 py-3 py-lg-2" data-id="5" href="#">
					<i class="fa fa-map-marker-alt fa-fw"></i> 
					<span class="pl-1">{{_ 'space-sidebar--live-map'}}</span>
				</a>
			</li>
			<li class="nav-item sidebar-item w-100 {{selectedMenuItemBg 6}}">
				<a class="nav-link pl-1 text-nowrap text-dark menu-item {{selectedMenuItemTxt 6}} pl-3 pl-lg-0 py-3 py-lg-2" data-id="6" href="#">
					<i class="fas fa-images fa-fw"></i> 
					<span class="pl-1">{{_ 'space-sidebar--live-gallery'}}</span>
				</a>
			</li>
		{{#if lessons}}						
			<li class="nav-item sidebar-item w-100 {{selectedMenuItemBg 3}}">
				<a class="nav-link pl-1 text-nowrap text-dark menu-item {{selectedMenuItemTxt 3}} pl-3 pl-lg-0 py-3 py-lg-2" data-id="3" href="#">
					<i class="fa fa-chalkboard-teacher fa-fw"></i> 
					<span class="pl-1">{{_ 'space-sidebar--lessons'}}</span>
				</a>
			</li>
		{{/if}}
<!-- 		{{#if resources}}	
			<li class="nav-item sidebar-item w-100 {{selectedMenuItemBg 4}}">
				<a class="nav-link pl-1 text-nowrap text-dark menu-item filter-resources-all {{selectedMenuItemTxt 4}} pl-3 pl-lg-0 py-3 py-lg-2" data-id="4" href="#">
					<i class="fa fa-copy fa-fw"></i> 
					<span class="pl-1">{{_ 'space-sidebar-2-resources'}}</span>
				</a>
			</li>
		{{/if}}	 -->		
		{{#if selectedMenuItem 4}}
		<a class="small pl-4 pt-1 text-secondary mb-1 space-sidebar--menu-collapse" data-toggle="collapse" aria-expanded="true" href=".categories-list"><i class="fas fa-tags"></i><span class="ml-1"> {{_ 'space-sidebar--categories'}} </span><i class="fa ml-1" aria-hidden="true"></i></a>
			<div class="collapse categories-list show w-100">
				{{#each resourcesCategories}}
					<li class="align-middle nav-item sidebar-item w-100 small">
						<a class="align-bottom nav-link space-sidebar--filter-resources-category pl-1 py-1 text-nowrap text-dark filter-resources-category {{selectedResourcesCategory}}  pl-4 py-2 py-lg-2" data-category="{{name}}" href="#"><span class="align-bottom pl-1" data-category="{{name}}">{{name}}</span>
							<span class="align-baseline text-secondary small ml-1" data-category="{{name}}">{{nRefs}}</span>
							{{#if ownSpace}}
								<a class="align-middle space-sidebar--resources-category-edit small ml-2" data-category="{{name}}">
									<i class="align-middle fas fa-pencil-alt" data-category="{{name}}"></i>
								</a>
							{{/if}}
						</a>
					</li>
				{{/each}}
				<div class="pl-3 ml-2 mt-1">
					{{#if ownSpace}}
						<a href="#" class="small pt-1 pl-1 font-weight-light" data-toggle="modal" data-target="#resourcesCategorySubmit">
							<span class="pl-1"><i class="fas fa-plus"></i> {{_ 'space-sidebar--add-category'}}</span>
						</a>
					{{/if}}
				</div>
			</div>	
		{{/if}}
	</ul>
	<div class="d-none d-lg-block" style="margin-top:50px;margin-bottom:-180px">
		<img style="height: 140px;" alt="logo" src="/img/logo-arbre.png">
	</div>
	<div class="space-sidebar--credits">Credits<br><a href="http://www.bioscope.ch">Bioscope</a> de l'Université de Genève.<br>Propulsé par <a href="http://www.beekee.ch">Beekee Live</a>.</div>
<!-- 		<select id="langSelect" class="mt-5 custom-select custom-select-sm border-0 ml-3 ml-lg-0 pl-lg-0 mb-2" style="width:auto; background-color: #fafafa;">
			<option value="en" {{langIsSelected 'en'}}>English</option>
			<option value="fr-FR" {{langIsSelected 'fr-FR'}}>Français</option>
		</select> -->
</template>