<template name="space">
    <div class="wrapper h-100">
        <nav id="sidebar" class="align-middle">{{> spaceSidebar}}</nav>
        {{> header}}    
        <div class="content container h-100" style="margin-top:-52px;padding-top:52px;">
        	<div class="row justify-content-center min-h-100">
                <div class="d-none d-sm-none d-lg-block col-3 mt-4 sidebar-sticky">
        		  {{> spaceSidebar}}
                </div>
            	<div class="col-sm-12 col-lg-8 bg-white border-left border-right min-h-100 pt-4 pl-4 pr-4">
            			{{> liveFeed}}
            	</div>
          	</div>
        </div>
     </div>
    <div class="overlay"></div> 
    {{> guestUsername}}
</template>