<!-- 

Copyright 2016-2021 VINCENT WIDMER

This file is part of Beekee Live.
    
Beekee Live is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Beekee Live is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License 
along with Beekee Live.  If not, see <https://www.gnu.org/licenses/>. 

*************************************************************************** -->


<template name="spaceUsers">
	{{> usersHeader}}
	<div class="container pt-4">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-6">
				<div class="card text-center">
					<div class="card-body">
						<h4>{{_ 'space-users--page-title'}}</h4>
						<p class="text-secondary">{{_ 'space-users--page-description'}}</p>
						<form id="space-users--form" class="space-users--form" name="space-users--form">
	 						<div class="form-group">
	    						<input type="text" class="form-control" name="userName" id="userName" aria-describedby="userName" placeholder="{{_ 'space-users--input-choose-author-placeholder'}}">
	    						<div class="text-secondary">{{numChars}}/15</div>
	  						</div>
	  						<div class="text-right">
	  	    	    			<a href="{{pathFor 'space' _id=this.space._id}}" role="button" class="btn btn-secondary">{{_ 'modal--cancel'}}</a>
	  	    	  				<a href="#" role="button" class="btn btn-primary space-users--button-submit-author">{{_ 'modal--submit'}}</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>