<template name="spaceSidebar">
	<div class="bg-beekee pt-5 d-lg-none">
		<img style="height: 50px;" class="pl-3 pb-3 mt-3" alt="logo" src="/img/logo_sidebar.png">
	</div>
		<ul class="sidebar nav flex-column align-items-start justify-content-between">
			<li class="nav-item sidebar-item w-100 {{selectedMenuItemBg 1}}">
				<a class="nav-link pl-1 text-nowrap text-dark menu-item {{selectedMenuItemTxt 1}} pl-3 pl-lg-0 py-3 py-lg-2" data-id="1" href="#">
					<i class="fa fa-home fa-fw"></i> 
					<span class="pl-1">{{_ 'space-sidebar--home'}}</span>
				</a> 
			</li> 	
			{{#if liveFeed}}						
				<li class="nav-item sidebar-item w-100 {{selectedMenuItemBg 2}}">
					<a class="nav-link pl-1 text-nowrap text-dark menu-item filter-all {{selectedMenuItemTxt 2}} pl-3 pl-lg-0 py-3 py-lg-2" data-id="2" href="#">
						<i class="fa fa-bolt fa-fw"></i> 
						<span class="pl-1">{{_ 'space-sidebar--live-feed'}}</span>
						<span class="badge badge-secondary-2 ml-2">{{liveFeedCount}}</span>
					</a>
				</li>
			{{/if}}
			{{#if selectedMenuItem 2}}
				<a class="small pl-4 pt-3 text-secondary mb-1 space-sidebar--menu-collapse" data-toggle="collapse" aria-expanded="true" href=".categories-list"><i class="fas fa-tags"></i> {{_ 'space-sidebar--categories'}} <i class="fa ml-1" aria-hidden="true"></i></a>
				<div class="collapse categories-list show w-100">
					{{#each categories}}
						<li class="align-middle nav-item sidebar-item w-100 small">
							<a class="align-bottom nav-link space-sidebar--filter-category pl-1 py-1 text-nowrap text-dark filter-category {{selectedCategory}}  pl-4 py-2 py-lg-2" data-category="{{name}}" href="#"><span class="align-bottom pl-1" data-category="{{name}}">{{name}}</span>
								<span class="align-baseline text-secondary small ml-1" data-category="{{name}}">{{nRefs}}</span>
								<a class="align-middle space-sidebar--category-edit small ml-2" data-category="{{name}}">
									<i class="align-middle fas fa-pencil-alt" data-category="{{name}}"></i>
								</a>
							</a>
						</li>
					{{/each}}
					<div class="pl-3 ml-2 mt-1">
						{{#if permissionAddCategories}}
							<a href="#" class="small pt-1 pl-1 font-weight-light" data-toggle="modal" data-target="#liveFeedCategorySubmit">
								<span class="pl-1"><i class="fas fa-plus"></i> {{_ 'space-sidebar--add-category'}}</span>
							</a>
						{{/if}}
					</div>
				</div>
				<a class="small pl-4 pt-3 text-secondary mb-1 space-sidebar--menu-collapse" data-toggle="collapse" aria-expanded="false" href=".authors-list"><i class="fas fa-users"></i> {{_ 'space-sidebar--authors'}} <i class="fa ml-1" aria-hidden="true"></i></a>
				<div class="collapse authors-list w-100">
					{{#each authors}}
					<li class="align-middle nav-item sidebar-item w-100 small w-100">
						<a class="align-bottom nav-link text-nowrap text-dark filter-author {{selectedAuthor}} pl-4 py-2 py-lg-2" data-author="{{name}}" href="#">
							<span class="pl-1" data-author="{{name}}">{{name}}</span>
							<span class="align-baseline text-secondary small ml-1" data-author="{{name}}">{{nRefs}}</span>
						</a>
					</li>
					{{/each}}
				</div>
			{{/if}}
			{{#if lessons}}						
				<li class="nav-item sidebar-item w-100 {{selectedMenuItemBg 3}}">
					<a class="nav-link pl-1 text-nowrap text-dark menu-item {{selectedMenuItemTxt 3}} pl-3 pl-lg-0 py-3 py-lg-2" data-id="3" href="#">
						<i class="fa fa-chalkboard-teacher fa-fw"></i> 
						<span class="pl-1">{{_ 'space-sidebar--lessons'}}</span>
					</a>
				</li>
			{{/if}}
			{{#if resources}}						
				<li class="nav-item sidebar-item w-100 {{selectedMenuItemBg 4}}">
					<a class="nav-link pl-1 text-nowrap text-dark menu-item {{selectedMenuItemTxt 4}} pl-3 pl-lg-0 py-3 py-lg-2" data-id="4" href="#">
						<i class="far fa-copy fa-fw"></i> 
						<span class="pl-1">{{_ 'space-sidebar--resources'}}</span>
					</a>
				</li>
			{{/if}}
		</ul>
</template>