<template name="slideoutMenu">
	<div class="slideout-menu">			
		<li class="slideout-menu--header">
			<span class="slideout-menu--header-left-element">{{_ 'menu--code'}}</span>
			<span class="slideout-menu--header-right-element">{{space.spaceCode}}</span>
		</li>
		<ul class="slideout-menu--list-settings">
			{{#if ownSpace}}
				<li class="slideout-menu--settings"><i class="fa fa-cog" aria-hidden="true"></i>{{_ 'menu--settings'}}</li>
			{{/if}}
			<li class="slideout-menu--exit"><i class="fa fa-times-circle" aria-hidden="true"></i>{{_ 'menu--exit'}}</li>
		</ul>
		<div class="slideout-menu--filters-list">
			<ul class="slideout-menu--list">
				<li class="slideout-menu--show-all {{selectedShowAll}}" href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>
 <span>{{_ 'menu--show-all'}} </span><span class="desktop-menu--nRef">{{postCount}}</span></li>
			</ul>
		<ul class="slideout-menu--list">
			<li class="filter filter-favorites {{selectedFavorites}}">
				<i class="fa fa-star-o fa-fw"></i> <span>{{_ 'menu--favorites'}} </span><span class="slideout-menu--nRef">{{favoritesCount}}</span>
			</li>
		</ul>
		<ul class="slideout-menu--list">
			<li class="filter filter-files {{selectedFiles}}">
				<i class="fa fa-files-o fa-fw"></i> <span>{{_ 'menu--files'}} </span><span class="slideout-menu--nRef">{{filesCount}}</span>
			</li>
		</ul>
		<ul class="slideout-menu--list">
			<li class="filter filter-images {{selectedImages}}">
				<i class="fa fa-picture-o fa-fw"></i> <span>{{_ 'menu--images'}} </span><span class="slideout-menu--nRef">{{imagesCount}}</span>
			</li>
		</ul>
			<div class="slideout-menu--list-title">{{_ 'menu--categories'}}</div>
			<ul class="slideout-menu--list">
				{{#each categories}}
					<li class="filter-category {{selectedCategoryClass}} {{isDisabled categoriesNRef}}" data-category="{{name}}" href="#"><span data-category="{{name}}">{{name}} </span><span class="desktop-menu--nRef" data-category="{{name}}">{{categoriesNRef}}</span></li>
				{{/each}}
			</ul>
			<div class="slideout-menu--list-title">{{_ 'menu--authors'}}</div>
			<ul class="slideout-menu--list">
				{{#each authors}}
					<li class="filter-author {{selectedAuthorClass}} {{isDisabled authorNRef}}" data-author="{{name}}" href="#"><span data-author="{{name}}">{{name}} </span><span class="desktop-menu--nRef" data-author="{{name}}">{{authorNRef}}</span></li>
				{{/each}}
			</ul>
<!-- 			<div class="slideout-menu-2-list-title">{{_ 'menu-2-tags'}}</div>
			<ul class="slideout-menu-2-list">
				{{#each tags}}
					<li class="filter-tag {{selectedTagClass}} {{isDisabled tagsNRef}}" data-tag="{{name}}" href="#"><span data-tag="{{name}}">{{name}} </span><span class="desktop-menu-2-nRef" data-tag="{{name}}">{{tagsNRef}}</span></li>
				{{/each}}
			</ul> -->
		</div>
	</div>
</template>