<!-- 

Copyright 2016-2020 UNIVERSITY OF GENEVA (GENEVA, SWITZERLAND)

This file is part of Beekee Live.
    
Beekee Live is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Beekee Live is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License 
along with Beekee Live.  If not, see <https://www.gnu.org/licenses/>. 

*************************************************************************** -->


<template name="generalSettings">
	<h6 class="mb-3">General</h6>
	<div class="list-group w-100">
  		<a href="#" class="list-group-item list-group-item-action d-flex general-settings--change-code"><span>{{_ 'space-edit--list-title-change-code'}}</span><span class="ml-auto">{{space.spaceCode}}</span></a>
  		<a href="#" class="list-group-item list-group-item-action d-flex general-settings--rename-button"><span>{{_ 'space-edit--list-title-rename-space'}}</span><span class="ml-auto">{{space.title}}</span></a>
  		<a href="#" class="list-group-item list-group-item-action list-group-item-danger general-settings--delete-button"><span>{{_ 'space-edit--list-title-delete-space'}}</span></a>
  	</div>
</template>