/* 
application.css
*/


/* ----- access-denied template ----- */

.access-denied {
	text-align: center;
}

.access-denied .page-title {
	margin-bottom: 40px;
}


/* ----- admin template ----- */

.admin {
	text-align: center;
}

.admin .page-title {
	margin-bottom: 30px;
}

.admin h1 {
	font-size: 1.3em;
	margin-bottom: 15px;
}

.admin table {
	font-size: 0.9em;
	width: 100%;
	border-collapse: collapse;
}

.admin td, .admin th {
	text-align: center;
	border: solid 1px #46AECB;
	padding: 5px;
}

.admin th {
	color: white;
	font-size: 12px;
	background-color: #46AECB;
}

.admin tr:nth-child(odd) {
	background-color: #D5EBF2;
}

.admin--is-connected {
	color: green;
}

.admin--is-disconnected {
	color: grey;
}


/* ----- privacy template ----- */

.privacy {
	margin: 15px auto 0 auto;
	width: 85%;
}

.privacy h1 {
	margin-top: 20px;
}

.privacy p {
	margin-top: 5px;
	text-align: justify;
	line-height: 1.3em;
}


/* ----- index templates ----- */

.index--logo {
	text-align: center;
	margin-bottom: 10px;
	margin-top: 30px;
}

.index--logo img {
	width: 120px;
}

.index--wrapper {
	text-align: center;
}

.index--list-item-code {
	font-size: 1em;
	font-family: Helvetica, Arial, Sans-Serif;
	float: right;
	margin-right: 8px;
}

.index--lang-wrapper {
	margin-top: 40px;
}

.index--lang-wrapper a {
	padding: 6px;
	border-left: solid 1px #b7b7b7;
}

.index--lang-wrapper a:first-of-type {
	border-left: none;
}

.index--lang-wrapper a.selected {
	font-weight: bold;
	color:grey;
	cursor: default;
}

.index--lang-wrapper a.selected:hover {
	text-decoration: none;
}


/* ----- index student template ----- */

.index-student--code-wrapper {
	width: 38%;
	padding: 19px 28px 24px 28px;
	margin: 15px auto 30px auto;
	text-align: center;
	background-color: white;
	border-radius: 2px;
	border: solid 1px #e6e6e6;
}

.index-student--code-wrapper span {
	font-size: 1.1em;
}

.index-student--code-wrapper button {
	width: 100%;
}

.index-student--code-input {
	font-size: 1em;
	margin-bottom: 8px;
	height: 100%;
	border: solid 1px #d9d9d9;
	border-radius: 1px;
	padding: 14px;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
}

.index-student--visited-title {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.index-student--visited-title span {
	font-size: 1.2em;
	font-weight: 400;
}

.index-student--visited-title a {
	font-size: 0.8em;
}

.index-student--wrapper-text {
	line-height: 1.2em;
	font-size: 0.9em;
	text-align: center;
	color: #979797;
	margin-bottom: 40px;
}

.index-student--wrapper-text span {
	font-size: 0.6em;
}


.index-teacher--button-edit {
	font-size: 0.8em;
}

.index-teacher--button-edit i {
	float: right;
	vertical-align: middle;
}

.index-teacher--spaces-title {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 1.3em;
	font-weight: 400;
}


/* ----- index student template ----- */


.index-teacher--button-submit-space {
	margin: 25px 0 0 0;
}

.index-teacher--no-space {
	text-align: center;
	margin-top: 40px;
	font-size: 0.9em;
}

.index-teacher--shutdown {
	display: block;
	margin-top:30px;
	font-size: 1.3em;
	cursor: pointer;
	padding: 5px;
	border-radius: 2px;
	color: #7d7d7d;
}

.index-teacher--shutdown:hover {
	background-color: #d9d9d9;
	color: white !important;
}

.index-teacher--shutdown:active {
	background-color: grey;
	color: white;
}

.index-teacher--shutdown span {
	font-size: 0.6em;
}

.index-teacher--shutdown span:hover {
	color:white;
}


/* ----- layout template ----- */

.layout--connection-status {
	position: fixed;
	text-align: center;
	color:white;
	line-height: 40px;
	width: 150px;;
	left: 50%;
	right: 50%;
	margin-left: -75px;
	height: 40px;
	background-color: #d24848;
	display:none;
;}

.layout--status-connected {
	display:none;
}

.layout--status-disconnected {
	display:block;
}

.layout--main {
	width: 760px;
	margin: 0 auto 0 auto;
	padding: 74px 0 100px 0;
}


/* ----- login template ----- */

.login--wrapper {
	text-align: left;
	margin: 0 auto 20px auto;
	padding: 20px;
	width: 60%;
	border: 1px solid #e2e3e7;
	border-radius: 4px;
	background-color: white;
}

.login--input {
	font-size: 1em;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}

.login--message {
	margin-top: 15px;
	color: red;
}

.login--button-wrapper {
	text-align: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;	
}

.login--register-link-wrapper {
	text-align: center;
	margin-top: 30px;
}


/* ----- logout template ----- */

.logout--wrapper {
	text-align: center;
	margin: 0 auto 20px auto;
	padding: 20px 7px 20px 7px;
	width: 60%;
	border: 1px solid #e2e3e7;
	border-radius: 4px;	
	background-color: white;
}

.logout--button-wrapper {
	text-align: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;	
}


/* ----- notFound template ----- */

.not-found {
	margin-top: 50px;
	text-align: center;
}


/* ----- register template ----- */

.register--wrapper {
	margin: 0 0 20px 0;
	padding: 20px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #e2e3e7;
	border-radius: 4px;	
	background-color: white;
	text-align: left;
}

.register--input {
	width: 100%;
	font-size: 1em;
	padding: 8px;
	box-sizing: border-box;
}

.register--button-wrapper {
	width: 60%;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
}

.register--message {
	margin-top: 15px;
	color: red;
}

.register--terms {
	color: #979797; 
	font-size: 0.9em;
	text-align: center;
	margin-bottom: 15px;
}