/* 
application.css
*/


/* ----- access-denied template ----- */

.access-denied {
	text-align: center;
}

.access-denied .page-title {
	margin-bottom: 40px;
}


/* ----- admin template ----- */

.admin {
	text-align: center;
}

.admin .page-title {
	margin-bottom: 30px;
}

.admin h1 {
	font-size: 1.3em;
	margin-bottom: 15px;
}

.admin table {
	font-size: 0.9em;
	width: 100%;
	border-collapse: collapse;
}

.admin td, .admin th {
	text-align: center;
	border: solid 1px #46AECB;
	padding: 5px;
}

.admin th {
	color: white;
	font-size: 12px;
	background-color: #46AECB;
}

.admin tr:nth-child(odd) {
	background-color: #D5EBF2;
}

.admin--is-connected {
	color: green;
}

.admin--is-disconnected {
	color: grey;
}


/* ----- index templates ----- */

.index--lang-wrapper {
	margin-top: 40px;
}

.index--lang-wrapper a {
	padding: 6px;
	border-left: solid 1px #b7b7b7;
}

.index--lang-wrapper a:first-of-type {
	border-left: none;
}

.index--lang-wrapper a.selected {
	font-weight: bold;
	color:grey;
	cursor: default;
}

.index--lang-wrapper a.selected:hover {
	text-decoration: none;
}


/* ----- notFound template ----- */

.not-found {
	margin-top: 50px;
	text-align: center;
}