/* 
new.css
*/


/* ----- New ----- */
html {
    overflow: auto;
    	height: 100% !important;

}

body {
	background-color: #fafafa;
	overflow: auto;
		height: 100% !important;

}

a, button {
  outline: none;
}

.btn-icon {
	color:grey;
	text-decoration: none;
	cursor: pointer;
	padding:0.375rem 0.75rem;
}

.btn-icon:hover > i {
	color: grey;
}

.btn-link {
	color:white;
	text-decoration: none !important;
}

.btn-link:hover {
	color: grey;
	text-decoration: none !important;
}

.btn-link-black {
	color:black;
	text-decoration: none !important;
}

.btn-link-black:hover {
	color: grey;
	text-decoration: none !important;
}


.badge-secondary-2 {
	background-color: #a5a5a5;
	color:white;
}

.min-h-100 {
	min-height: 100% !important;
}

.card-header {
	padding: 0.5rem 1.25rem !important;
	font-weight: 500 !important;
}











.space-sidebar--menu-collapse[aria-expanded="false"] .fa:before {  
  content: "\f0d8";
}

.space-sidebar--menu-collapse[aria-expanded="true"] .fa:before {
  content: "\f0d7";
}



.space-sidebar--filter-category > :nth-child(3) { display:none; }
.space-sidebar--filter-category:hover > :nth-child(3) { display:inline; }


/*.live-feed--category-edit {
    display: hidden;
}
#to-hover:hover > #to-show {
    display: block; 
}*/



/*a.sidebar {
	text-decoration: none;
	color:white;
}
*/

					
.post-item--add-comment-textarea {
	height: 15px;
	width: 100%;
	padding: 6px;
	border: solid 1px #ececec;
	resize: none;
	vertical-align: middle;
/*	font-family: 'Raleway Regular', sans-serif;
*/	font-size: 1em;
	overflow: hidden;
	word-wrap: break-word;
	resize: none;
}

.post-item--text {
	width: auto;
	font-size: 0.95em;
	line-height: 1.3em;
	white-space: pre;  /*render line breaks */
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}


.home-post-submit--textarea {
	height:100%;
}


/*@media (max-width: 767px) { 
.container {
	padding:5px !important;
}
}*/


.strikethrough:after {
  position: absolute;
  content: "/";
  color: red;
  font-weight: 500;
  font-size: 1.5em;
  left: 12px;
  top: -3px;
}

.strikethrough:after {
  position: absolute;
  content: "\\";
  color: red;
  font-weight: 500;
  font-size: 1.5em;
  left: 10px;
  top: -3px;

}

input.error {
 	background-color:rgb(255, 231, 231);
 }

.error {
	color: red;
}


/* ----- post-update-image template ----- */

.file-upload--input-file-wrapper {
	cursor: pointer;
/*	display: block;
	width: 200px;	
	height: 34px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	border:solid 1px #206e98;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #2A90C6; background-image: -webkit-gradient(linear, left top, left bottom, from(#2A90C6), to(#3270AE));
	background-image: -webkit-linear-gradient(top, #2A90C6, #3270AE);
	background-image: -moz-linear-gradient(top, #2A90C6, #3270AE);
	background-image: -ms-linear-gradient(top, #2A90C6, #3270AE);
	background-image: -o-linear-gradient(top, #2A90C6, #3270AE);
	background-image: linear-gradient(to bottom, #2A90C6, #3270AE);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#2A90C6, endColorstr=#3270AE);	
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	line-height: 30px;
	color: white;
	cursor: pointer;*/
}

.file-upload--input-file-wrapper i:hover {
	color: grey;
}

.file-upload--input-file-wrapper:hover {
/*	border-color: #185372;
	background-color: #21719c; background-image: -webkit-gradient(linear, left top, left bottom, from(#21719c), to(#275686));
	background-image: -webkit-linear-gradient(top, #21719c, #275686);
	background-image: -moz-linear-gradient(top, #21719c, #275686);
	background-image: -ms-linear-gradient(top, #21719c, #275686);
	background-image: -o-linear-gradient(top, #21719c, #275686);
	background-image: linear-gradient(to bottom, #21719c, #275686);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#21719c, endColorstr=#275686);
 */}
 
 /* CSS Tric to hide original file input */
.file-upload--input-file {
	position: fixed;
	top: -1000px;
}


/* ----- post-update-image progress bar ----- */

/*.progress-bar {
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
    width: 350px;
    margin: 50px 0;         
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;    
}*/

.blue span {
    background-color: #34c2e3;   
}

.orange span {
      background-color: #fecf23;
      background-image: linear-gradient(top, #fecf23, #fd9215);  
}   

.green span {
      background-color: #a5df41;
      background-image: linear-gradient(top, #a5df41, #4ca916);  
}

.stripes span {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);            
    
    animation: animate-stripes 3s linear infinite;             
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

.shine span {
    position: relative;
}

.shine span::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border-radius: 3px;
    animation: animate-shine 2s ease-out infinite;             
}

@keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
}

.glow span {
    box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;    
    animation: animate-glow 1s ease-out infinite;          
}

@keyframes animate-glow {
 0% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
 50% { box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
 100% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
 }



 /* iPhone 4, 4S, 5, 5S */
/*@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {*/
@media (max-width: 320px) {
	.truncate-text {
		text-overflow: ellipsis;
		display: inline-block;
		max-width: 25%;
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: top;
		font-size: 0.8em;
	}
}