/* 

Copyright 2016-2021 VINCENT WIDMER

This file is part of Beekee Live.
    
Beekee Live is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Beekee Live is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
 along with Beekee Live.  If not, see <https://www.gnu.org/licenses/>.

***************************************************************************/


/* 
sidebar.css
*/


/* ----- Sidebar ----- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background-color: white;
    color: #fff !important;
    transition: all 0.3s;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
/*    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); */
}

.sidebar-item {
    padding-left:6px;
}

.sidebar-item:hover {
    background-color: rgb(233, 247, 255);
    border-radius: 15px;
}

.sidebar-item:hover > a{
    color:rgb(66, 164, 224) !important;
    font-weight: bold !important;
}

a.menu-item {
    color: #676767;
}

.sidebar--submenu {
    border-left:solid 1px #cce8ff;
    margin-left:15px;
    padding-left:4px;
}

a.space-sidebar--menu-collapse {
    color: #afafaf !important;
    font-weight: bold;
}

.sidebar--submenu a, .sidebar--submenu i {
    font-size:0.75em;
    color: #727980;
}

a.menu-item--selected {
    color: rgb(66, 164, 224);
    font-weight: bold;
}

.menu-item--selected .menu-item {
    color: rgb(66, 164, 224);
}

@media (max-width: 991.98px) { 
    .menu-item--selected {
        background-color: #cccccc;
    }

    .sidebar-item {
        width:100%;
    }

    .sidebar-item:hover {
        border-radius:0px;
        background-color: #cccccc;
    }
    .sidebar--submenu {
        border-left:none;
        margin-left:15px;
        padding-left:4px;
    }
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    top:0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    cursor: pointer; /* Fix an issue with iOS not registering click/touch events bound to elements added after DOM loads. */
}

.overlay.active {
    display: block;
    opacity: 1;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.space-sidebar--menu-collapse[aria-expanded="false"] .fa:before {  
    content: "\f0d7";
}

.space-sidebar--menu-collapse[aria-expanded="true"] .fa:before {
    content: "\f0d8";
}

.space-sidebar--filter-category > :nth-child(3) { display:none; }

.space-sidebar--filter-category:hover > :nth-child(3) { display:inline; }

.space-sidebar--live-feed-category-edit i {
    font-size:1.1em;
}

.space-sidebar--credits {
    margin-top:40px;
    font-size: 0.7em;
    color: #b7b7b7;
    padding-top: 12px;
}

a.sidebar--add {
    color: #1da1f2;
}


/* ----- Content ----- */

#content {
    width: 100%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}