/* 
sidebar.css
*/


/* ----- Sidebar ----- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background-color: white;
    color: #fff !important;
    transition: all 0.3s;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
/*    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); */
}

.sidebar-item:hover {
    background-color: white;
}

.menu-item:hover > i {
        color: #8cc544;

}

.menu-item--selected {
    background-color: white;
}

.menu-item--selected .menu-item > i {
    color: #8cc544;
}

@media (max-width: 991.98px) { 
    .menu-item--selected {
        background-color: #cccccc;
    }

    .sidebar-item:hover {
    background-color: #cccccc;
    }
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    top:0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    cursor: pointer; /* Fix an issue with iOS not registering click/touch events bound to elements added after DOM loads. */
}

.overlay.active {
    display: block;
    opacity: 1;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


/* ----- Content ----- */

#content {
    width: 100%;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}