/*
z_mobile.css
*/


/* ----- media queries ----- */

@media (max-width: 750px) {

	/* ----- application ----- */

	.mfp-content {
		width:100% !important;
	}

	.button {
		height: 40px;
	}

	.page-title {
		font-size: 1.3em;
	}

	.page-description {
		width: 80%;
	}
	
	.data-protection {
		width: 95%;
	}

	.index-student--code-wrapper {
		width:80%;
		padding: 19px 15px 24px 15px;
	}

	.layout--main {
		width: 100%;
		padding-top: 68px;
	}

	.logout--wrapper{
		width: 100%;
	}

	.logout--button-wrapper {
		width: 90%;
	}

	.login--wrapper {
		width: 80%;
		padding: 15px;
	}

	.login--button-wrapper {
		width: 90%;
	}

	.register--wrapper {
		width: 80%;
		padding: 15px;
	}

	.register--button-wrapper {
		width: 90%;
	}

	.list-group {
		width: 99%;
	}

	.list-group-item {
		padding: 14px 15px;
	}


	/* ----- spaces ----- */

	.space-page--load-more {
		padding: 14px;
	}	

	.space-page--menu-wrapper {
		display: none;
	}

	.space-page--notification-panel {
		margin-top: -15px;
	}	

	.space-edit--wrapper {
		width: 100%;
	}

	.space-edit--list-item {
		width: 100%;
		box-sizing: border-box;
		padding: 14px 15px;
		border-left:none;
		border-right:none;
		border-radius:0;
	}

	.space-edit--subtitle {
		width: 95%;
	}

	.space-edit--description {
		width: 95%;
	}

	.space-edit--list-wrapper-left {
		width: 10%;
	}

	.space-page--notification-panel {
		width: 50%;
	}

	.space-submit--wrapper {
		width: 100%;
	}

	.space-edit--select-permissions {
		width: 100%;
		box-sizing: border-box;
		height: 50px;
	}


	/* ----- headers ----- */

	.header {
		line-height: 54px;
	}

	.header--space-title {
		display: none;
	}

	.header--user-name {
		padding-right: 15px;
	}

	.header--button-menu {
		padding-left: 10px;
		display: inline-block;
		color:white;
	}

	.header--wrapper {
		width: 96%;
	}

	.header--logo {
		display: none;
	}	

	.posts-header--space-title {
		font-size: 0.7em;
		font-weight: 800;
	}

	.posts-header--button-submit {
		margin-left: 15px;
		padding-right: 10px;
		padding-left:15px;
	}

	.truncate-text { /* not used now but usefull */
		text-overflow: ellipsis;
		display: inline-block;
		max-width: 35%;
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: top;
		font-size: 0.8em;
	}
	

	/* ----- menus ----- */

	.slideout-menu--filters-list {
		display: block;
	}


	/* ----- posts ----- */

	.post-edit {
		width: 100%;
		padding: 20px 0px;
	}

	.post-edit--wrapper{
		margin-top: 0px;
		border-color: #f6f6f6;
		padding:10px;
	}

	.post-edit--image{
		max-width: 100%;
		max-height: 100%;
	}

	.post-edit--button-submit {
		width: 100%;
		border-radius: 0;
	}

	.post-edit--textarea {
		border-radius: 0;
		border-left: none;
		border-right: none;
	}

	.post-item {
		margin-top: 10px;
		margin-bottom: 12px;
		border-right: 0;
		border-left: 0;
	}

	.space-page--posts-pinned .post-item {
		border:solid 1px #e8e8e8;
	}

	.post-item--button {	
		font-size: 0.8em;
	}	

	.post-item--comment-wrapper {
/*		margin-top: -11px;
*/	}

	.post-item--image{
		width: 100%;
		max-height: 100%;
	}

	.post-item--show-comment-input {
		display: block;
	}

	.post-item--add-comment-textarea {
		display: none;
	}

	.post-submit {
		width: 100%;
		padding: 20px 0px;
	}

	.post-submit--wrapper{
		margin-top: 0px;
		border-color: #f6f6f6;
		padding:10px;
	}

	.post-submit--image{
		max-width: 100%;
		max-height: 100%;
	}

	.post-submit--button-submit {
		width: 100%;
		border-radius: 0;
	}

	.post-submit--textarea {
		border-radius: 0;
		border-left: none;
		border-right: none;
	}


	/* ----- tags input ----- */

	.bootstrap-tagsinput {
		border-radius: 0;
		border-left: none;
		border-right: none;
		padding:6px;
	}

}


/* iPhone 4, 4S, 5, 5S */
/*@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {*/
@media (max-width: 320px) {
	.truncate-text {
		text-overflow: ellipsis;
		display: inline-block;
		max-width: 25%;
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		vertical-align: top;
		font-size: 0.8em;
	}
}