<template name="spaceSubmit">
	<div class="space-submit">
		<div class="page-title">{{_ 'space-submit--page-title'}}</div>
		<form id="space-submit--form" class="space-submit--form">
			<div class="space-submit--wrapper">
				<label>{{_ 'space-submit--space-name'}}</label><br />
				<input name="title" id="space-submit--input-title" type="text" value="" class="space-submit--input form-control" autofocus />
        	</div>
			<div class="space-submit--button-wrapper">
				<button type="submit" class="button button-primary space-submit--button-submit">{{_ 'space-submit--button-submit'}}</button>
				<button class="button button-cancel space-submit--button-cancel">{{_ 'space-submit--button-cancel'}}</button>  
			</div> 
		</form>
	</div>
</template>
