<template name="spaceEdit">
	<div class="space-edit">
		<div class="space-edit--wrapper">
			<div class="page-title">{{_ 'space-edit--page-title'}}</div>
			<ul class="space-edit--list">
				<p class="space-edit--subtitle">{{_ 'space-edit--subtitle-general'}}</p>
				<a class="space-edit--list-item space-edit--change-code-button">
					<div class="space-edit--list-wrapper-left">
						<i class="fa fa-pencil"></i>
					</div>
					<div class="space-edit--list-wrapper-center">
						<div class="space-edit--list-title">{{_ 'space-edit--list-title-change-code'}}</div>
					</div>
					<div class="space-edit--list-wrapper-right">
						<div class="space-edit--chapter-wrapper">
							<span class="space-edit--list-right-title space-edit--list-right-title-code"><em>{{space.spaceCode}}</em></span>
						</div>
					</div>
				</a>
				<p class="space-edit--description">{{_ 'space-edit--description-change-code'}}</p>
			</ul>
			<ul class="space-edit--list">
				<a class="space-edit--list-item space-edit--rename-button">
					<div class="space-edit--list-wrapper-left">
						<i class="fa fa-pencil"></i>
					</div>
					<div class="space-edit--list-wrapper-center">
						<div class="space-edit--list-title">{{_ 'space-edit--list-title-rename-space'}}</div>
					</div>
					<div class="space-edit--list-wrapper-right">
						<div class="space-edit--chapter-wrapper">
							<span class="space-edit--list-right-title"><em>{{space.title}}</em></span>
						</div>
					</div>
				</a>
				<a class="space-edit--list-item space-edit--delete-button">
					<div class="space-edit--list-wrapper-left">
						<i class="fa fa-trash-o"></i>
					</div>
					<div class="space-edit--list-wrapper-center">
						<div class="space-edit--list-title">{{_ 'space-edit--list-title-delete-space'}}</div>
					</div>
					<div class="space-edit--list-wrapper-right">
						<div class="space-edit--chapter-wrapper">
							<span></span>
						</div>
					</div>
				</a>
 			</ul>
<!--			<ul class="space-edit-2-list">
				<p class="space-edit-2-subtitle">{{_ 'space-edit-2-list-title-content'}}</p>
				<a class="space-edit-2-list-item space-edit-2-activate-reactiveness">
					<div class="space-edit-2-list-wrapper-left">
						<i class="fa fa-feed"></i>
					</div>
					<div class="space-edit-2-list-wrapper-center">
						<div class="space-edit-2-list-title">{{_ 'space-edit-2-list-title-flow'}}</div>
					</div>
					<div class="space-edit-2-list-wrapper-right">
						<div class="space-edit-2-chapter-wrapper">
							<span class="space-edit-2-list-right-title">
								{{#if isReactive}}
									<i class="fa fa-toggle-on" aria-hidden="true"></i>
								{{else}}
									<i class="fa fa-toggle-off" aria-hidden="true"></i>
								{{/if}}
							</span>
						</div>
					</div>
				</a>
				<p class="space-edit-2-description">{{_ 'space-edit-2-description-flow'}}</p>
			</ul> -->
			<ul class="space-edit--list">
				<p class="space-edit--subtitle">{{_ 'space-edit--list-title-content'}}</p>
				<a class="space-edit--list-item" href="{{pathFor 'spaceEditCategories' _id=space._id}}">
					<div class="space-edit--list-wrapper-left">
						<i class="fa fa-list"></i>
					</div>
					<div class="space-edit--list-wrapper-center">
						<div class="space-edit--list-title">{{_ 'space-edit--list-title-categories'}}</div>
					</div>
					<div class="space-edit--list-wrapper-right">
						<div class="space-edit--chapter-wrapper">
							<span class="space-edit--list-right-title"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
						</div>
					</div>
				</a>
				<a class="space-edit--list-item space-edit--activate-comments">
					<div class="space-edit--list-wrapper-left">
						<i class="fa fa-commenting-o"></i>
					</div>
					<div class="space-edit--list-wrapper-center">
						<div class="space-edit--list-title">{{_ 'space-edit--list-title-comments'}}</div>
					</div>
					<div class="space-edit--list-wrapper-right">
						<div class="space-edit--chapter-wrapper">
							<span class="space-edit--list-right-title">
								{{#if commentsAreAllowed}}
									<i class="fa fa-toggle-on" aria-hidden="true"></i>
								{{else}}
									<i class="fa fa-toggle-off" aria-hidden="true"></i>
								{{/if}}
							</span>
						</div>
					</div>
				</a>
			</ul>
			<ul class="space-edit--list">
				<p class="space-edit--subtitle">{{_ 'space-edit--subtitle-users'}}</p>
				<a class="space-edit--list-item" href="{{pathFor 'spaceEditAuthors' _id=space._id}}">
					<div class="space-edit--list-wrapper-left">
						<i class="fa fa-users"></i>
					</div>
					<div class="space-edit--list-wrapper-center">
						<div class="space-edit--list-title">{{_ 'space-edit--list-title-users'}}</div>
					</div>
					<div class="space-edit--list-wrapper-right">
						<div class="space-edit--chapter-wrapper">
							<span class="space-edit--list-right-title">
								<i class="fa fa-chevron-right" aria-hidden="true"></i>
							</span>
						</div>
					</div>
				</a>				
				<a class="space-edit--list-item space-edit--activate-create-user">
					<div class="space-edit--list-wrapper-left">
						<i class="fa fa-users"></i>
					</div>
					<div class="space-edit--list-wrapper-center">
						<div class="space-edit--list-title">{{_ 'space-edit--list-title-free-users'}}</div>
					</div>
					<div class="space-edit--list-wrapper-right">
						<div class="space-edit--chapter-wrapper">
							<span class="space-edit--list-right-title">
								{{#if createUserIsAllowed}}
									<i class="fa fa-toggle-on" aria-hidden="true"></i>	
								{{else}}
									<i class="fa fa-toggle-off" aria-hidden="true"></i>
								{{/if}}
							</span>
						</div>
					</div>
				</a>
				<p class="space-edit--description">{{_ 'space-edit--description-free-users'}}</p>
				<p class="space-edit--subtitle">{{_ 'space-edit--subtitle-permissions'}}</p>
				<div class="space-edit--select-wrapper">
					<select class="space-edit--select-permissions" name="permissions">
						<option value="own" selected="{{permissionIsSelected "own"}}">{{_ 'space-edit--select-permissions-own'}}</option>
						<option value="all" selected="{{permissionIsSelected "all"}}">{{_ 'space-edit--select-permissions-all'}}</option>
						<option value="none" selected="{{permissionIsSelected "none"}}">{{_ 'space-edit--select-permissions-none'}}</option>
					</select>
				</div>
			</ul>
			{{#if isBox}}
				<ul class="space-edit--list">
					<p class="space-edit--subtitle">{{_ 'space-edit--subtitle-box'}}</p>
					<a class="space-edit--list-item" style="background-color:#ddd; color: #888;

">
						<div class="space-edit--list-wrapper-left">
							<i class="fa fa-refresh"></i>
						</div>
						<div class="space-edit--list-wrapper-center">
							<div class="space-edit--list-title">{{_ 'space-edit--list-title-update-box'}}</div>
						</div>
						<div class="space-edit--list-wrapper-right">
							<div class="space-edit--chapter-wrapper">
								<span class="space-edit--list-right-title"></span>
							</div>
						</div>
					</a>
					<a class="space-edit--list-item">
						<div class="space-edit--list-wrapper-left">
							<i class="fa fa-plug"></i>
						</div>
						<div class="space-edit--list-wrapper-center">
							<div class="space-edit--list-title">{{_ 'space-edit--list-title-ip'}}</div>
						</div>
						<div class="space-edit--list-wrapper-right">
							<div class="space-edit--chapter-wrapper">
								<span class="space-edit--list-right-title">{{serverIP}}</span>
							</div>
						</div>
					</a>
<!-- 					<a class="space-edit-2-list-item space-edit-2-sync">
 -->					<a class="space-edit--list-item" style="background-color:#ddd; color: #888;

">
						<div class="space-edit--list-wrapper-left">
							<i class="fa fa-refresh"></i>
						</div>
						<div class="space-edit--list-wrapper-center">
							<div class="space-edit--list-title">{{_ 'space-edit--list-title-sync'}}</div>
						</div>
						<div class="space-edit--list-wrapper-right">
							<div class="space-edit--chapter-wrapper">
								<span class="space-edit--list-right-title"></span>
							</div>
						</div>
					</a>
					<p class="space-edit--description">{{_ 'space-edit--description-sync'}}</p>
				</ul>
			{{/if}}
			<ul class="space-edit--list">
				<p class="space-edit--subtitle">{{_ 'space-edit--subtitle-account'}}</p>
				<a class="space-edit--list-item space-edit--change-password">
					<div class="space-edit--list-wrapper-left">
						<i class="fa fa-key"></i>
					</div>
					<div class="space-edit--list-wrapper-center">
						<div class="space-edit--list-title">{{_ 'space-edit--list-title-change-password'}}</div>
					</div>
					<div class="space-edit--list-wrapper-right">
						<div class="space-edit--chapter-wrapper">
							<span class="space-edit--list-right-title"></span>
						</div>
					</div>
				</a>	
				<p class="space-edit--description">{{_ 'space-edit--description-change-password'}}</p>
			</ul>									
		</div>
	</div>
</template>