<template name="spacePage">
	<div class="space-page">
    	{{#if updateAlert}}
			<div class="space-page--alert">
				<h3>Mise à jour</h3>
				<span style="">Les paramètres de l'espace se trouvent maintenant dans le menu en haut à gauche (<i class="fa fa-x fa-bars"></i>).<br>Vous pouvez maintenant définir  ce que les utilisateurs peuvent faire (permissions).</span><br>
				<button class="button button-primary button-ok-update-alert">OK</button>
			</div>
    	{{/if}}
		<div class="space-page--wrapper">
			<div class="space-page--menu-wrapper">{{> desktopMenu}}</div>
			<div class="space-page--main"> 
				{{#if newMessages}}
					<div class="space-page--notification-panel space-page--refresh">
						<a href="#">{{newMessages}} {{_ 'space-page--notification-panel'}}</a>
					</div>
				{{/if}}
				{{#if codePanelState}}
					{{#if ownSpace}}
						<div id="codePanel" class="space-page--code-panel">
							<span class="space-page--code-panel-title">{{_ 'space-page--code-panel-description'}} 
								<div class="space-page--code-panel-code"><b>{{space.spaceCode}}</b></div><br />
							</span>
							<button class="button button-primary button-hide-code-panel">{{_ 'space-page--hide-panel'}}</button>
						</div>
					{{/if}}
				{{/if}}
				{{#if postsPinned}}
						{{#if postsPinned.count}}
							<div class="space-page--posts-pinned">
								<div class="space-page--pinned-title"><i class="fa fa-x fa-thumb-tack"></i> {{_ 'space-page--pinned-title'}}</div>
							{{#each postsPinned}}
								{{> postItem}}
							{{/each}}
							</div>
						{{/if}}
				{{/if}}
					<div class="space-page--posts-order">{{_ 'space-page--post-order'}} <select id="space-page--select-filter"><option value="asc" {{ascendant}}>{{_ 'space-page--post-order-asc'}}</option><option value="desc" {{descendant}}>{{_ 'space-page--post-order-desc'}}</option></select>
<!-- 					{{#if ascendant}}
						<span>Plus récents d'abord <i class="fa fa-caret-up" aria-hidden="true"></i></span>
					{{else}}
						<span>Plus ancien d'abord <i class="fa fa-caret-down" aria-hidden="true"></i></span>
					{{/if}} -->
				</div>
				{{#if initialLoadCompleted}}
					{{#if posts}}
						{{#if posts.count}}
							{{#each posts}}
								{{> postItem}}
							{{/each}}
							{{#if loadMore}}
								<div class="space-page--load-more">
									<i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i> {{_ 'space-page--load-more'}}
								</div>
							{{/if}}
						{{else}}
							<div class="space-page--no-post" style="">
								<span>{{_ 'space-page--no-post'}}</span>
							</div>
						{{/if}}
					{{/if}}
				{{else}}
					<div class="space-page--loading">
						{{> loading}}
					</div>
				{{/if}}
			</div>
		</div>
	</div>
	<div id="space-page--post-submit" class="white-popup mfp-hide">
  		<div>{{> postSubmit}}</div>
  	</div>
</template>