<template name="spaceUsers">
	<div class="space-users">
		<div class="space-users--wrapper">
			<div class="page-title">{{_ 'space-users--page-title'}}</div>
			<div class="page-description">{{_ 'space-users--page-description'}}</div>
			{{#if createUserAllowed}}
				<form id="space-users--form">
					<input id="authorName" class="space-users--input-choose-author" placeholder="{{_ 'space-users--input-choose-author-placeholder'}}" />
					<button type="submit" class="button button-primary space-users--button-submit-author"> {{_ 'space-users--submit-author'}}</button>
				</form>
			{{else}}
				<div class="list-group">
					{{#each authors}}
						<a class="list-group-item space-users--button-select-author" data-author="{{name}}">
							<span>{{name}}</span>
							{{#if optionIsSelected name}}
								<a class="space-users--user-checked"  href="#">
									<i class="fa fa-lg fa-check" data-delete-author="{{name}}"></i>
								</a>
							{{/if}}
						</a>
					{{/each}}
				</div>
			{{/if}}
		</div>
	</div>
</template>