<template name="homePost">
	<div class="home-post alert alert-warning">
			<div class="d-flex">
				<b>{{title}}</b>
				{{#if ownSpace}}
					<span class="align-baseline ml-auto" id="dropdownMenuLink" data-toggle="dropdown"><i class="fa fa-ellipsis-v fa-fw btn-icon align-baseline"></i></span>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item home-post--edit" href="#">{{_ 'post--edit'}}</a>
						<a class="dropdown-item text-danger home-post--delete" href="#">{{_ 'post--delete'}}</a>
					</div>
				{{/if}}	
			</div>
		{{{body}}}
	</div>
</template>