<!-- 

Copyright 2016-2020 UNIVERSITY OF GENEVA (GENEVA, SWITZERLAND)

This file is part of Beekee Live.
    
Beekee Live is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Beekee Live is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License 
along with Beekee Live.  If not, see <https://www.gnu.org/licenses/>. 

*************************************************************************** -->


<template name="homePost">
	<div class="home-post alert alert-info">
			<div class="d-flex">
				<b>{{title}}</b>
				{{#if ownSpace}}
					<span class="align-baseline ml-auto" id="dropdownMenuLink" data-toggle="dropdown"><i class="fa fa-ellipsis-v fa-fw btn-icon align-baseline"></i></span>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item home-post--edit" href="#">{{_ 'post--edit'}}</a>
						<a class="dropdown-item text-danger home-post--delete" href="#">{{_ 'post--delete'}}</a>
					</div>
				{{/if}}	
			</div>
		{{{body}}}
	</div>
</template>