<!-- 

Copyright 2016-2021 VINCENT WIDMER

This file is part of Beekee Live.
    
Beekee Live is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Beekee Live is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License 
along with Beekee Live.  If not, see <https://www.gnu.org/licenses/>. 

*************************************************************************** -->


<template name="home">
	{{#if ownSpace}}
		{{#if homePostsEmpty}}
		<div class="float-right">
			<a href="#" class="home--submit">
				<i class="fas fa-plus"></i> {{_ 'home--submit-button'}}
			</a>
		</div>
		{{/if}}
	{{/if}}
	{{#unless space.permissions.public}}
		{{#if ownSpace}}
			{{#if codePanel}}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">{{{_ 'home--space-code-message'}}} <span style="font-size:1.1em" class="badge badge-secondary">{{space.spaceCode}}</span>
			  		<button type="button" class="close home--hide-code-panel">
			    		<span aria-hidden="true">&times;</span>
			  		</button>
				</div>
			{{/if}}
		{{/if}}
	{{/unless}}
	{{#if noFilter}}
		{{#each homePosts}}
			{{> homePost}}
		{{/each}}
	{{/if}}
	{{> homePostSubmit}}
	{{> homePostEdit}}
	{{> homePostDelete}}
	{{#if liveFeedAddPost}}
		{{> liveFeedPostSubmit}}
	{{/if}}
		{{#if newMessages}}
			<div class="text-center mb-2">
				<button type="button" class="btn btn-outline-primary live-feed--refresh">{{newMessages}} {{_ 'live-feed--notification-panel'}}</button>
			</div>
		{{/if}}
	{{#each liveFeedPosts}}
		{{> liveFeedPost}}
	{{/each}}
	{{#if loadMore}}
		<div class="text-center mb-2">
			<button type="button" class="btn btn-primary live-feed--load-more"><i class="fas fa-arrow-circle-down"></i> {{_ 'live-feed--load-more'}}</button>
		</div>
	{{/if}}
	{{> liveFeedPostEdit}}
	{{> liveFeedPostDelete}}
	{{> liveFeedCategorySubmit}}
	{{> liveFeedCategoryEdit}}
</template>