<template name="login">
	{{> loginHeader}}
	<div class="container">
  		<div class="row justify-content-center mt-5">
  			<div class="col-12 col-lg-5">
  				<h4 class="text-center mb-4">Admin login</h4>
				<div class="card text-center">
					<div class="card-body">
						<form id="login--form" name="login--form">
	 						<div class="form-group">
	    						<input type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="{{_ 'login--mail'}}" autofocus>
	  						</div>
	  						<div class="form-group">
	  							<input type="password" name="password" class="form-control" id="password" value="" placeholder="{{_ 'login--password'}}">
	  						</div>
							{{#if errorMessage}}
								<div class="alert alert-danger" role="alert">
									{{t9n errorMessage}}
								</div>
								{{#unless isBox}}
									{{#if passwordRecovery}}
										<br><a href="#" class="login--send-mail-forgot-password">{{_ 'login--send-mail-forgot-password-link'}}</a>
									{{/if}}
								{{/unless}}
							{{/if}} 
	  	    	  			<button type="button" class="btn btn-primary w-100 login--button-submit">{{_ 'login--button-submit'}}</button>
						</form>
					</div>
				</div>
			</div>
  		</div>
	</div>
</template>