<!-- 

Copyright 2016-2021 VINCENT WIDMER

This file is part of Beekee Live.
    
Beekee Live is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Beekee Live is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License 
along with Beekee Live.  If not, see <https://www.gnu.org/licenses/>. 

*************************************************************************** -->


<template name="resetPassword">
    <div class="reset-password">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-8 pt-4 pl-4 pr-4 pb-3 text-center">
                    <h1 class="mb-5">{{_ 'reset-password--page-title'}}</h1>
                    <div class="text-justify">
                       <form id="login--form" class="login--form">        
                            <div class="login--wrapper">
                                <label><b>{{_ 'reset-password--new-password'}}</b></label><br />
                                <input type="password" name="" class="form-control" id="password" value=""><br />
                            </div> 
                            <div class="login--button-wrapper">
                                <button type="button" class="btn btn-primary w-100 reset-password--button-submit">{{_ 'reset-password--button-submit'}}</button>
                            </div>   
                        </form>                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>