<template name="fileUpload">
	<form method="POST" enctype="multipart/form-data" class="text-center mb-3">
		{{#unless infoLabel}}
			<label class="file-upload--button">
				<input type="file" accept="image/*" class="file-upload--input-file jqUploadclass" data-form-data='{{ submitData }}'>
					<span class="file-upload--input-file-icon text-center" style="font-size:30px;"><i class="fas fa-camera"></i></span><span style="font-size:12px;vertical-align: top;line-height: 1;"><br>Ajouter</span>
<!-- 			<span>Ajouter une photo</span>
 -->			</label>
		{{/unless}}
		{{#with infoLabel}} 	
			<div class="progress mt-3 mb-4">
 	  			<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ progress }}" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		{{/with}}
	</form>
</template>