<template name="update">  
	{{> backHeader}}    
	<div class="container">
		<div class="row justify-content-center mt-4">
			<div class="col-sm-12 col-lg-8">
				<h3>Update</h3>
				<div class="row justify-content-center mt-4 mb-4">
					<div class="col-12">
						<div class="card">
							<div class="card-header">System informations</div>			
 							<div class="card-body p-0">
 								<ul class="list-group">
  									<li class="list-group-item rounded-0 border-left-0 border-right-0 border-top-0 d-flex"><span>Beekee version</span><span class="ml-auto">{{beekeeVersion}}</span></li>
								</ul>
								<div class="text-center mt-3 mb-3">
									{{#unless updateUploaded}}
										{{>updateUpload formData='{"type":"update"}' autoStart=true}}
									{{/unless}}
									{{#if updateUploaded}}
										<div class="text-success">Beekee has been updated.</div>
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>