<!-- 

Copyright 2016-2021 VINCENT WIDMER

This file is part of Beekee Live.
    
Beekee Live is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Beekee Live is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License 
along with Beekee Live.  If not, see <https://www.gnu.org/licenses/>. 

*************************************************************************** -->


<template name="resourcesPostEdit">
<div class="modal fade" id="resourcesPostEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{_ 'resources-post-edit--title'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form name="resources-post-edit--form" id="resources-post-edit--form">
      		      <div class="form-group">
       		    <input type="text" class="form-control" name="title" id="title" aria-describedby="title" placeholder="Title of the resource" value="{{post.title}}"></div>
       		<div class="form-group">
				<textarea name="body" id="body" class="form-control resources-post-edit--textarea" placeholder="" aria-label="" aria-describedby="basic-addon2">{{post.body}}</textarea>
			</div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"><i class="fas fa-tag"></i></label>
          </div>
          <select class="custom-select" name="categorySelect" id="categorySelect">
            <option val="" disabled selected>{{_ 'post-submit--select-category'}}</option>
            <option val="">{{_ 'post-submit--no-category'}}</option>
            {{#each categories}}
              <option selected="{{selectedCategory}}" name="{{name}}">{{name}}</option>
            {{/each}}
            </select>
          </div>
			</form>
			{{#unless fileUploaded}}
					{{>fileUpload formData=formData autoStart=true}}
				{{/unless}}
				{{#if fileUploaded}}
          {{#if fileUploaded.error}}
            <div class=""><span class="text-danger">{{fileUploaded.error}}</span> (<a href="#" class="resources-post-edit--retry">retry</a>)</div>
          {{else}}
  					<div class="p-2">
  						<i class="fa fa-file-o" aria-hidden="true"></i> {{fileUploaded.fileName}}.{{fileUploaded.fileExt}}
  						<a href="#" class="post-submit--button-delete-file">
  							<i class="fa fa-trash" aria-hidden="true"></i>
  						</a>
  					</div>
          {{/if}}
				{{/if}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ 'modal--close'}}</button>
        <button type="button" class="btn btn-primary resources-post-edit--submit">{{_ 'modal--save'}}</button>
      </div>
    </div>
  </div>
</div>
</template>