<template name="resourcesCategoryEdit">
	<div class="modal fade" id="resourcesCategoryEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">{{_ 'resources-category-edit--title'}}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form name="resources-category-edit--form" class="resources-category-edit--form" id="resources-category-edit--form">
						<div class="form-group">
							<input type="text" class="form-control" name="editCategoryName" id="editCategoryName" aria-describedby="editCategoryName" placeholder="Category name" value="{{categoryName}}">
							<div class="text-secondary">{{numChars}}/20</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ 'modal--close'}}</button>
					<button type="button" class="btn btn-danger resources-category-edit--button-delete">{{_ 'modal--delete'}}</button>
					<button type="button" class="btn btn-primary resources-category-edit--button-submit">{{_ 'modal--save'}}</button>
				</div>
			</div>
		</div>
	</div>
</template>