<template name="resources">
	{{#if ownSpace}}
		<div class="float-right">
			<a href="#" class="" data-toggle="modal" data-target="#resourcesPostSubmit">
				<i class="fas fa-plus"></i> {{_ 'resources--submit-button'}}
			</a>
		</div>
	{{/if}}
	<h5 class="mb-4">{{_ 'resources--title'}}</h5>
	{{#each resourcesPosts}}
		{{> resourcesPost}}
	{{/each}}
	{{> resourcesPostSubmit}}
	{{> resourcesPostEdit}}
	{{> resourcesPostDelete}}
	{{> resourcesCategorySubmit}}
	{{> resourcesCategoryEdit}}
</template>