<template name="spacesHeader">
	<div class="spaces-header">
		<div class="header">
			<div class="header--wrapper">
				<div class="header--left">
					<div class="header--logo">
					</div>
				</div>
				<div class="header--right">
					{{#if currentUser}}
						<a href="{{pathFor 'logout'}}">
							<span class="header--user">{{currentUser.emails.[0].address}}</span>
							<i class="ion-log-out header--logout-icon"></i>
						</a>
					{{else}}
						<a href="{{pathFor 'login'}}" class="header--user-name">
							<i class="ion-log-in header--login-icon"></i>
							<span >{{_ 'header--admin-access'}}</span>
						</a>
					{{/if}}				
				</div>							
			</div>
		</div>
	</div>
</template>