<template name="indexStudentHeader">	
	<nav class="bg-dark text-white" style="z-index:500;height:52px;line-height:52px;">
		<div class="container h-100">
			<div class="row justify-content-center h-100">
				<div class="col-4 col-lg-3" style="">
                	<a class="menu-item h-100" href="#">
						<img style="height: 35px; padding: 0px 10px 5px 0;" alt="logo" src="/img/logo_header.png">
					</a>
				</div>
				<div class="col-8 text-right">
					<a href="{{pathFor 'indexTeacher'}}" class="btn-link">{{_ 'header--admin-access'}}</a>
				</div>
			</div>
		</div>
	</nav>
</template>