<template name="postSubmitHeader">
	<div class="post-submit--header">
		<div class="header">
			<div class="header--wrapper">
				<div class="header--left">
					<i class="ion-ios-arrow-back header--button-back"></i>
				</div>	
				<div class="header--right">
					<a href="{{pathFor 'spaceUsers' _id=this.space._id}}" class="header--user-name">
						<i class="ion-ios-person header--user-icon"></i>
						<span >{{authorName}}</span>
					</a>
				</div>							
			</div>
		</div>
	</div>
</template>