<template name="usersHeader">	
	<nav class="bg-white" style="z-index:500;height:52px;line-height:52px;border-bottom:solid 1px #efefef;">
		<div class="container h-100">
			<div class="row justify-content-center">
				<div class="col-6" style="">
					<a class="navbar-brand menu-item" data-id="1" href="#">
						<img alt="logo" height="55" src="/img/logo_black.svg">
					</a>
					<span>{{space.title}}</span>
				</div>
				<div class="nav-link col-5 text-right align-middle">
				</div>
			</div>
		</div>
	</nav>
</template>