<template name="usersHeader">	
	<nav class="" style="z-index:500;height:52px;line-height:52px;box-shadow:2px 0px 9px #d4d4d4;background:#a3e35e;">
		<div class="container h-100">
			<div class="row justify-content-center">
				<div class="col-6" style="">
                	<a class="menu-item d-none d-sm-none d-lg-inline h-100" data-id="1" href="#">
						<img style="height: 40px; padding: 0px 10px 0px 0;" alt="logo" src="/img/logo-arbre.png">
					</a>
					<span class="d-none d-sm-none d-lg-inline" style="border-left: solid 1px #cccccc;padding-left: 10px;margin-left: 10px;">{{space.title}}</span>
				</div>
				<div class="nav-link col-5 text-right align-middle">
				</div>
			</div>
		</div>
	</nav>
</template>