<template name="accessDenied">
	<div class="access-denied">
		<div class="page-title">{{_ 'access-denied--page-title'}}</div>
		<p><a href="{{pathFor 'login'}}">{{_ 'access-denied--login'}}</a></p>
		<form id="login--form" class="login--form">        
					<div class="login--wrapper">
						<label>{{_ 'login--mail'}}</label>
						<input type="text" class="login--input login--input-username form-control" id="email" value="" autofocus><br><br>
						<label>{{_ 'login--password'}}</label>
						<input type="password" name="" class="login--input form-control" id="password" value=""><br>
						{{#if errorMessage}}
							<div class="login--message">
								<p>{{t9n errorMessage}}</p>
								{{#unless isBox}}
									{{#if passwordRecovery}}
										<br><a href="#" class="login--send-mail-forgot-password">{{_ 'login--send-mail-forgot-password-link'}}</a>
									{{/if}}
								{{/unless}}
							</div> 
						{{/if}}                 
					</div> 
					<div class="login--button-wrapper">
						<button type="submit" class="button button-primary login--button-submit">{{_ 'login--button-submit'}}</button>
					</div>   
				</form>
			</div>
</template>