<template name="fileUpload">
	<form method="POST" enctype="multipart/form-data">
		{{#unless infoLabel}}
			<label class="file-upload--input-file-wrapper">
				<input type="file" accept="image/*" class="file-upload--input-file jqUploadclass" data-form-data='{{ submitData }}'>
					<span class="file-upload--input-file-icon"><i class="fas fa-image fa-lg"></i></span>
					<span class="file-upload--input-file-text"></span>
			</label>
						<label class="file-upload--input-file-wrapper">
				<input type="file" accept="*/*" class="file-upload--input-file jqUploadclass" data-form-data='{{ submitData }}'>
					<span class="file-upload--input-file-icon ml-2"><i class="fas fa-paperclip fa-lg"></i></span>
					<span class="file-upload--input-file-text"></span>
			</label>
		{{/unless}}
		{{#with infoLabel}} 	
			<div class="progress">
 	  			<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ progress }}" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		{{/with}}
	</form>
</template>