<template name="indexTeacher">
	<div class="index-teacher">
		{{#if currentUser}}
			<div class="index--logo"><img src="/img/logo.png" /></div>
			{{#if ownSpaces.count}}
				<div class="list-group">
					<div class="index-teacher--spaces-title">
						<span>{{_ 'index-teacher--spaces-title'}}</span>
					</div>
					{{#each ownSpaces}}
						<a class="list-group-item" href="{{pathFor 'spacePage'}}">
							<span class="list-group-item-left">{{title}}</span>
								 <a class="index-teacher--button-edit" href="{{pathFor 'spaceEdit'}}">
									 <i class="fa fa-lg fa-cog"></i>
								</a>
							<span class="index--list-item-code">
								<b>{{spaceCode}}</b>
							</span>
						</a>
					{{/each}}
				</div>
			{{else}}
				<div class="index-teacher--no-space">{{_ 'index-teacher--no-space'}}</div>
			{{/if}}
		{{else}}
			<div class="page-title">{{_ 'login--page-title'}}</div>
			<form id="login--form" class="login--form">        
				<div class="login--wrapper">
					<label>{{_ 'login--mail'}}</label>
					<input type="text" class="login--input login--input-username form-control" id="email" value="" autofocus><br><br>
					<label>{{_ 'login--password'}}</label>
					<input type="password" name="" class="login--input form-control" id="password" value=""><br>
					{{#if errorMessage}}
						<div class="login--message">
							<p>{{t9n errorMessage}}</p>
							{{#unless isBox}}
								{{#if passwordRecovery}}
									<br><a href="#" class="login--send-mail-forgot-password">{{_ 'login--send-mail-forgot-password-link'}}</a>
								{{/if}}
							{{/unless}}
						</div> 
					{{/if}}                 
				</div> 
				<div class="login--button-wrapper">
					<button type="submit" class="button button-primary login--button-submit">{{_ 'login--button-submit'}}</button>
				</div>   
			</form>
			<div class="login--register-link-wrapper">{{_ 'login--register'}}<br><br>
				<a href="{{pathFor 'register'}}"> {{_ 'login--register-link'}}</a> !
			</div>
		{{/if}}
	</div>
	<div class="index--wrapper">
		{{#if currentUser}}
			<a href="{{pathFor 'spaceSubmit'}}">
				<button class="button button-primary index-teacher--button-submit-space"><i class="fa fa-plus"></i> {{_ 'index-teacher--button-submit-space'}}</button>
			</a>
			{{#if isBox}}
				<div class="index-teacher--shutdown"><i class="fa fa-power-off"></i><br><span>{{_ 'index-teacher--shutdown'}}</span></div>
			{{/if}}
		{{/if}}
		<div class="index--lang-wrapper">
			<a href="#" class="index--select-lang {{isLangSelected 'en'}}" data-lang="en">EN</a>
			<a href="#" class="index--select-lang {{isLangSelected 'fr'}}" data-lang="fr">FR</a>
		</div>
	</div>
</template>