<template name="register">
    <div class="register">
        <div class="page-title">{{_ 'register--page-title'}}</div>
        <form id="register--form" class="register--form">
            <div class="register--wrapper">
                <label>{{_ 'register--mail'}}</label>
                <input type="text"  class="register--input register--input-email form-control email" id="email" value="" autofocus><br /><br />           
                <label>{{_ 'register--password'}}</label><br />
                <input type="password" name="" class="register--input form-control" id="password" value=""><br /><br>
                <label>{{_ 'register--password-confirm'}}</label><br />
                <input type="password" name="" class="register--input form-control" id="passwordConfirm" value=""><br />
                {{#if errorMessage}}
                    <div class="register--message">
                        <br /><span>{{errorMessage}}</span><br />
                    </div> 
                {{/if}}  
            </div>
<!--             <p class="register-2-terms">{{{_ 'register-2-terms'}}}</p>
 -->            <div class="register--button-wrapper">
                <button type="submit" class="button button-primary register--button-submit">{{_ 'register--button-submit'}}</button>
            </div>    
        </form>
    </div>
</template>