<template name="resetPassword">
    <div class="reset-password">
        <div class="page-title">{{_ 'reset-password--page-title'}}</div>
        <form id="login--form" class="login--form">        
            <div class="login--wrapper">
                <label><b>{{_ 'reset-password--new-password'}}</b></label><br />
                <input type="password" name="" class="form-control" id="password" value=""><br />
            </div> 
            <div class="login--button-wrapper">
                <button type="submit" class="button button-primary reset-password--button-submit">{{_ 'reset-password--button-submit'}}</button>
            </div>   
        </form>
        <div class="login--register-link-wrapper">
            <span>{{_ 'login--register'}}<br /><br />
                <a href="{{pathFor 'register'}}"> {{_ 'login--register-link'}}</a> !
            </span>
        </div>
    </div>
</template>