<template name="indexStudent">
	{{> indexStudentHeader}}
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class=""><img src="/img/logo.png" /></div>
  		</div>
  		{{#if isBox}}
	  		{{#if publicSpaces.count}}
				<div class="row justify-content-center mt-5 mb-5 text-center">
		  			<div class="col-12 col-lg-5 text-center">
						<div class="">
					 		<h5>{{_ 'index-student--public-spaces-title'}}</h5>
					 		<div class="list-group w-100">
					 			{{#each publicSpaces}}
									<a href="{{pathFor 'space' _id=this._id}}" class="list-group-item list-group-item-action d-flex"><span>{{title}}</span></a>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			{{/if}}
		{{/if}}
  		<div class="row justify-content-center mt-5 text-center">
  			<div class="col-12 col-lg-5">
  				<h5>{{_ 'index-student--code'}}</h5>
				<div class="card">
					<div class="card-body">
						<form id="index-student--code-link-form" name="index-student--code-link-form">
	 						<div class="form-group">
	    						<input type="text" class="form-control" id="code" aria-describedby="emailHelp" placeholder="{{_ 'index-student--code-input-placeholder'}}">
	  						</div>
	  	    	  			<a href="#" role="button" class="btn btn-primary w-100 index-student--button-code-link">{{_ 'index-student--button-code-link'}}</a>
						</form>
					</div>
				</div>
			</div>
  		</div>
		{{#if spacesVisited.count}}
	  		<div class="row justify-content-center mt-5 text-center">
	  			<div class="col-12 col-lg-5 text-center">
					<div class="index-student--visited-spaces">
				 		<h5>{{_ 'index-student--visited-title'}}</h5>
				 		<a href="#" class="small index-student--delete-recent">{{_ 'index-student--delete-recent'}}</a>
				 		<div class="list-group w-100">
				 			{{#each spacesVisited}}
								<a href="{{pathFor 'space' _id=this._id}}" class="list-group-item list-group-item-action d-flex"><span>{{title}}</span><span class="ml-auto">{{spaceCode}}</span></a>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		{{/if}}
		<div class="row justify-content-center mt-5">
			<div class="col-5 col-lg-2 text-center">
				<select id="langSelect" class="custom-select custom-select-sm border-0" style="width:auto; background-color: #fafafa;">
				  <option value="en" {{langIsSelected 'en'}}>English</option>
				  <option value="fr-FR" {{langIsSelected 'fr-FR'}}>Français</option>
				</select>
			</div>
  		</div>
	</div>
</template>