<template name="indexTeacher">
	{{> indexTeacherHeader}}
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class=""><img src="/img/logo.png" /></div>
  		</div>
  		<div class="row justify-content-center mt-5">
  			<div class="col-12 col-lg-5">
				<h5 class="text-center mb-4">{{_ 'index-teacher--spaces-title'}}</h5>
				{{#if ownSpaces.count}}
					<div class="list-group">
						{{#each ownSpaces}}
						  	<a href="{{pathFor 'space'}}" class="list-group-item list-group-item-action d-flex"><span>{{title}}</span><span class="ml-auto">{{spaceCode}}</span></a>
						{{/each}}
					</div>
				{{else}}
					<p class="text-center">{{_ 'index-teacher--no-space'}}</p>
				{{/if}}
			</div>
  		</div>
  		 <div class="row justify-content-center mt-5 bt-5 text-center">
  			<div class="col-12 col-lg-6 text-center">
				<button class="btn btn-primary" data-toggle="modal" data-target="#spaceSubmit"><i class="fa fa-plus"></i> {{_ 'index-teacher--button-submit-space'}}</button>
			</div>
		</div>
  		<div class="row justify-content-center mt-5 text-center">
  			<div class="col-12 col-lg-6 text-center mt-3 mb-3">
				{{#if isBox}}
					<button type="button" class="btn btn-outline-secondary index-teacher--shutdown"><i class="fa fa-power-off"></i><br><span>{{_ 'index-teacher--shutdown'}}</span></button>
				{{/if}}
			</div>
		</div>
	</div>
	{{> spaceSubmit}}
</template>