<!-- 

Copyright 2016-2020 UNIVERSITY OF GENEVA (GENEVA, SWITZERLAND)

This file is part of Beekee Live.
    
Beekee Live is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Beekee Live is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License 
along with Beekee Live.  If not, see <https://www.gnu.org/licenses/>. 

*************************************************************************** -->


<template name="liveFeedCategorySubmit">
	<div class="modal fade" id="liveFeedCategorySubmit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">{{_ 'live-feed-category-submit--title'}}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form name="live-feed-category-submit--form" class="live-feed-category-submit--form" id="live-feed-category-submit--form">
						<div class="form-group">
							<input type="text" class="form-control" name="categoryName" id="categoryName" aria-describedby="categoryName" placeholder="{{_ 'live-feed-category-submit--placeholder'}}" autofocus>
							<div class="text-secondary">{{numChars}}/20</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ 'modal--close'}}</button>
					<button type="button" class="btn btn-primary live-feed-category-submit--button-submit">{{_ 'modal--submit'}}</button>
				</div>
			</div>
		</div>
	</div>
</template>