<template name="liveFeedPostSubmit">
	{{#unless fileUploaded}}
        {{>fileUpload formData=formData autoStart=true}}
	{{/unless}}	 
	{{#if fileUploaded}}
	<div class="card mb-5 bg-light">
		<div class="card-body">
			<form name="live-feed-post-submit--form" id="live-feed-post-submit--form">
					{{#unless fileUploaded.error}}
						{{#if image}}
							<div class="mt-2 mb-4 text-center">
								<img class="card-img-top" src="/upload{{filePath}}" alt="" /><br>
			 					<a href="#" class="post-submit--button-delete-image"><i class="fa fa-trash" aria-hidden="true"></i> {{_ 'post-submit--delete-image'}}</a>
			 				</div>
			 				<div class="form-group">
								<textarea rows="1" name="body" id="body" class="form-control post-submit--textarea" placeholder="{{_ 'post-submit--body-placeholder'}}" aria-label="{{_ 'post-submit--body-placeholder'}}"></textarea>
							</div>
							<!-- {{> reCAPTCHA}} -->
							<div class="form-group d-none d-block float-right mb-0">
								<button class="btn btn-outline-secondary bg-primary text-white border-0 live-feed-post-submit--show-mini-map" type="button">{{_ 'modal--submit'}}</button>
							</div>	
		 				{{/if}}
		 			{{/unless}}
					{{#if fileUploaded.error}}
          				<div class=""><span class="text-danger">{{fileUploaded.error}}</span> (<a href="#" class="live-feed-post-submit--retry">retry</a>)</div>
          			{{else}}
						{{#unless image}}
							<div class="p-2">
								<i class="fa fa-file-o" aria-hidden="true"></i> {{fileUploaded.fileName}}.{{fileUploaded.fileExt}}
								<a href="#" class="post-submit--button-delete-file">
									<i class="fa fa-trash" aria-hidden="true"></i>
								</a>
							</div>
						{{/unless}}
					{{/if}}
			</form>
		</div>
	</div>
	{{/if}} 
</template>