<template name="liveFeedPostMiniMap">
	<div class="modal fade" id="liveFeedPostMiniMap" tabindex="-1" data-keyboard="true" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			 	<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Position de la photo</h5>
			  	</div>
			<div class="modal-body" style="height:400px">
				{{> googleMap name="miniMap" options=miniMapOptions}}
			</div>
			  	<div class="modal-footer">
			  		<button type="button" class="btn btn-secondary" data-dismiss="modal">{{_ 'modal--close'}}</button>
			  	</div>
			</div>
	  	</div>
	</div>
</template>