<!-- 

Copyright 2016-2021 VINCENT WIDMER

This file is part of Beekee Live.
    
Beekee Live is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Beekee Live is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License 
along with Beekee Live.  If not, see <https://www.gnu.org/licenses/>. 

*************************************************************************** -->


<template name="liveFeedPostSubmit">
	<div class="live-feed-post-submit mb-4 mt-4">
		<div>
			<form name="live-feed-post-submit--form" id="live-feed-post-submit--form">
				{{#if fileUploaded}}
					{{#unless fileUploaded.error}}
						{{#if image}}
							<div class="mt-2 mb-4 text-center">
								<img class="card-img-top" src="/upload{{filePath}}" alt="" /><br>
			 					<a href="#" class="post-submit--button-delete-image"><i class="fa fa-trash" aria-hidden="true"></i> {{_ 'post-submit--delete-image'}}</a>
			 				</div>
		 				{{/if}}
		 			{{/unless}}
				{{/if}}
				<div class="row mb-2">
					<div class="col-10">
						<textarea rows="1" name="body" id="body" class="form-control post-submit--textarea" placeholder="{{_ 'post-submit--body-placeholder'}}" aria-label="{{_ 'post-submit--body-placeholder'}}"></textarea>
					</div>
					<div class="col-2 d-none d-lg-inline-block  mb-0" style="margin-left:-15px;">
						<button class="btn btn-outline-primary live-feed-post-submit--button-submit" style="" type="button">{{_ 'modal--submit'}}</button>
					</div>	
					<div class="col-2 text-left d-lg-none" style="margin-left:-15px;">
						<button class="btn btn-outline-primary live-feed-post-submit--button-submit" style="" type="button"><i class="fas fa-paper-plane"></i></button>
					</div>	
				</div>
				<div class="row">
					<div class="col-4 col-lg-5">			  
						{{#unless fileUploaded}}
		          			{{>fileUpload formData=formData autoStart=true}}
						{{/unless}}
					</div>
					<div class="col-8 col-lg-5">
						<div class="input-group" style="">
							<div class="input-group-prepend">
						    	<label class="input-group-text" for="inputGroupSelect01" style="background:none !important;"><i class="fas fa-tag"></i></label>
						  	</div>
							<select class="custom-select" style="height:30px;font-size:0.75em;" name="categorySelect" id="categorySelect">
			    				<option val="" disabled selected>{{_ 'post-submit--select-category'}}</option>
			    	      		<option val="">{{_ 'post-submit--no-category'}}</option>
			    				{{#each categories}}
			      					<option {{selectedOption name}}>{{name}}</option>
			      				{{/each}}
			      				{{#if liveFeedAddCategory}}
			      					<option style="color:red" value="add-category">{{_ 'live-feed-post-submit--add-category'}}</option>
			      				{{/if}}
							</select>
						</div>	
					</div>
		  			<div class="form-group d-none d-lg-none float-right mb-0">
						<button class="btn btn-outline-secondary bg-primary text-white border-0 live-feed-post-submit--button-submit" type="button">{{_ 'modal--submit'}}</button>
					</div>	
				</div>
				{{#if fileUploaded}}
					{{#if fileUploaded.error}}
          				<div class=""><span class="text-danger">{{fileUploaded.error}}</span> (<a href="#" class="live-feed-post-submit--retry">retry</a>)</div>
          			{{else}}
						{{#unless image}}
							<div class="p-2">
								<i class="fa fa-file-o" aria-hidden="true"></i> {{fileUploaded.fileName}}.{{fileUploaded.fileExt}}
								<a href="#" class="post-submit--button-delete-file">
									<i class="fa fa-trash" aria-hidden="true"></i>
								</a>
							</div>
						{{/unless}}
					{{/if}}
				{{/if}}
			</form>
		</div>
	</div>
</template>