<!-- 

Copyright 2016-2020 UNIVERSITY OF GENEVA (GENEVA, SWITZERLAND)

This file is part of Beekee Live.
    
Beekee Live is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Beekee Live is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License 
along with Beekee Live.  If not, see <https://www.gnu.org/licenses/>. 

*************************************************************************** -->


<template name="update">  
	{{> backHeader}}    
	<div class="container">
		<div class="row justify-content-center mt-4">
			<div class="col-sm-12 col-lg-8">
				<h3>Update</h3>
				<div class="row justify-content-center mt-4 mb-4">
					<div class="col-12">
						<div class="card">
							<div class="card-header">Manual update</div>			
 							<div class="card-body p-0">
								<div class="text-center mt-3 mb-3">
									{{#unless updateUploaded}}
										{{>updateUpload formData='{"type":"update"}' autoStart=true}}
									{{/unless}}
									{{#if updateUploaded}}
										{{#if updateUploaded.error}}
          									<div class=""><span class="text-danger">{{updateUploaded.error}}</span> (<a href="#" class="update--retry">retry</a>)</div>
          								{{else}}
											<div class="text-success">Beekee has been updated.<br><a href="#" role="button" class="btn btn-danger update--reboot mt-3">Reboot the box</a></div>
										{{/if}}
									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>